.advantages {
  padding-top: 94px;
}
.div__advantages {
  display: flex;
  justify-content: center;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.advantages__item {
  width: 270px;
  height: 248px;
}
.advantages__item:nth-child(1) {
  &::before {
    width: 270px;
    height: 120px;
    display: block;
    content: "";
    background-color: #f5f4fa;
    background-image: url(../img/advantages/pc.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.advantages__item:nth-child(2) {
  &::before {
    width: 270px;
    height: 120px;
    display: block;
    content: "";
    background-color: #f5f4fa;
    background-image: url(../img/advantages/clock.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.advantages__item:nth-child(3) {
  &::before {
    width: 270px;
    height: 120px;
    display: block;
    content: "";
    background-color: #f5f4fa;
    background-image: url(../img/advantages/diagram-pc.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.advantages__item:nth-child(4) {
  &::before {
    width: 270px;
    height: 120px;
    display: block;
    content: "";
    background-color: #f5f4fa;
    background-image: url(../img/advantages/astronaut.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.advantages__item--title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 30px;
}
.advantages__item--text {
  font-weight: 400;
  font-size: 14px;
  color: var(--colorTextSecondary);
}
