.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorLogoNavigation);
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover {
  transform: scale(1.125);
}
.logo-2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorTextPrimary);
}
.logo-3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorTextThird);
}
