:root {
  --colorTextPrimary: #212121;
  --colorTextSecondary: #757575;
  --colorTextThird: #fff;
  --colorLogoNavigation: #2196f3;
  --bgColor: #2f303a;
  --addressColor: rgba(255, 255, 255, 0.6);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --backgroundNormal: #fff;
  --backgroundSekond: #2f303a;
  --backgroundThird: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

body {
  font-family: var(--font-family);
  line-height: 1.71;
  font-size: 16px;
  color: var(--colorTextPrimary);
  font-weight: 500;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.div__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  background-color: var(--backgroundNormal);
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav__list {
  font-size: 14px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-left: 93px;
  padding-right: 318px;
}

.nav__link {
  color: var(--colorTextPrimary);
  position: relative;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--colorLogoNavigation);
  position: absolute;
  left: 0;
  opacity: 0;
  border-radius: 2px;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(20px);
}
.nav__link:hover {
  color: var(--colorLogoNavigation);
}
.nav__link:hover::after {
  opacity: 1;
  transform: translateY(56px);
}

.contact__list {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.contact__link {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--backgroundSekond);
  display: flex;
  align-items: center;
}
.contact__link:hover .contact__icon {
  fill: var(--colorLogoNavigation);
}
.contact__link:hover .contact__name {
  color: var(--colorLogoNavigation);
}
.contact__link:hover .contact__icon2 {
  fill: var(--colorLogoNavigation);
}

.contact__icon {
  height: 16px;
  width: 12px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__name {
  padding-left: 10px;
  color: #757575;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon2 {
  height: 16px;
  width: 10px;
  fill: #757575;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorLogoNavigation);
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover {
  transform: scale(1.125);
}

.logo-2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorTextPrimary);
}

.logo-3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorTextThird);
}

.hero {
  background-color: var(--backgroundSekond);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../img/backgroungimg/bg222.webp);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colorTextThird);
  max-width: 696px;
}

.hero__button {
  background-color: var(--colorLogoNavigation);
  color: var(--colorTextThird);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 32px;
  border-radius: 5px;
  transition-property: box-shadow, transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.advantages {
  padding-top: 94px;
}

.div__advantages {
  display: flex;
  justify-content: center;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.advantages__item {
  width: 270px;
  height: 248px;
}

.advantages__item:nth-child(1)::before {
  width: 270px;
  height: 120px;
  display: block;
  content: "";
  background-color: #f5f4fa;
  background-image: url(../img/advantages/pc.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item:nth-child(2)::before {
  width: 270px;
  height: 120px;
  display: block;
  content: "";
  background-color: #f5f4fa;
  background-image: url(../img/advantages/clock.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item:nth-child(3)::before {
  width: 270px;
  height: 120px;
  display: block;
  content: "";
  background-color: #f5f4fa;
  background-image: url(../img/advantages/diagram-pc.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item:nth-child(4)::before {
  width: 270px;
  height: 120px;
  display: block;
  content: "";
  background-color: #f5f4fa;
  background-image: url(../img/advantages/astronaut.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 30px;
}

.advantages__item--text {
  font-weight: 400;
  font-size: 14px;
  color: var(--colorTextSecondary);
}

.work {
  padding-bottom: 94px;
  padding-top: 94px;
}

.div__work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-bottom: 50px;
}

.work__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.work__photo {
  position: relative;
  overflow: hidden;
}
.work__photo:hover .work__caption {
  transform: translateY(0px);
}

.work__img {
  display: block;
  width: 100%;
  height: auto;
}

.work__caption {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colorTextThird);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px;
  z-index: 2;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100px);
}

.team {
  background-color: var(--backgroundThird);
  padding-top: 94px;
  padding-bottom: 94px;
}

.div__team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 50px;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  max-width: 270px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.164);
  transition-property: box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__item:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.teammate__name {
  text-align: center;
}

.teammate__profession {
  font-weight: 400;
  text-align: center;
  color: var(--colorTextSecondary);
  padding-bottom: 16px;
}

.teammate__icon--list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 42px;
  gap: 10px;
}

.teammate__icon--item {
  width: 44px;
  height: 44px;
}

.teammate__link {
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.teammate__link:hover {
  background-color: var(--colorLogoNavigation);
  fill: #ffffff;
}

.teammate__icon {
  height: 20px;
  width: 20px;
}

.team {
  background-color: var(--backgroundThird);
  padding-top: 94px;
  padding-bottom: 94px;
}

.div__team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 50px;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  max-width: 270px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.164);
  transition-property: box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__item:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.teammate__name {
  text-align: center;
}

.teammate__profession {
  font-weight: 400;
  text-align: center;
  color: var(--colorTextSecondary);
  padding-bottom: 16px;
}

.teammate__icon--list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 42px;
  gap: 10px;
}

.teammate__icon--item {
  width: 44px;
  height: 44px;
}

.teammate__link {
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.teammate__link:hover {
  background-color: var(--colorLogoNavigation);
  fill: #ffffff;
}

.teammate__icon {
  height: 20px;
  width: 20px;
}

.clients {
  background-color: var(--backgroundNormal);
  padding-bottom: 94px;
}

.clients__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover {
  border: 1px solid var(--colorLogoNavigation);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  padding: 16px 32px;
}

.clients__icon {
  transition-property: fill, border;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon:hover .clients__icon--yako {
  border: 1px solid var(--colorLogoNavigation);
}
.clients__icon:hover .clients__icon {
  fill: var(--colorLogoNavigation);
}

.clients__icon--yako {
  border: 1px solid #afb1b8;
}

.clients__icon {
  width: 106px;
  height: 60px;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
}

.filter__list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.projects__button {
  line-height: 1.62;
  text-align: center;
  color: var(--colorTextPrimary);
  padding: 6px 22px;
  border-radius: 5px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__button:hover {
  line-height: 1.62;
  text-align: center;
  color: var(--colorTextThird);
  background-color: var(--colorLogoNavigation);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.applications {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 34px;
}

.applications__item {
  flex-basis: calc((100% - 60px) / 3);
  max-width: 370px;
  max-height: 404px;
  border: 1px solid #eeeeee;
}
.applications__item:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.projects__photo {
  position: relative;
  overflow: hidden;
}
.projects__photo:hover .projects__overlay {
  transform: translateY(0%);
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--colorTextThird);
  background-color: var(--colorLogoNavigation);
  opacity: 90%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__container--text {
  padding-left: 24px;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__category {
  font-weight: 400;
  line-height: 1.87;
  color: var(--colorTextSecondary);
  padding-bottom: 20px;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.47);
  inset: 0;
  z-index: 9;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.backdrop.is__hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  background-color: var(--backgroundNormal);
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-inline: 40px;
  border-radius: 5px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  transition-property: fill;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover {
  fill: var(--colorLogoNavigation);
}

.modal__icon {
  position: relative;
  top: 2px;
  right: 1px;
  width: 18px;
  height: 18px;
}

.no__scroll {
  overflow: hidden;
}

.form__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorTextPrimary);
  height: 23px;
  margin-bottom: 12px;
  margin-top: 40px;
}

.form__field {
  max-width: 448px;
  height: 58px;
  margin-bottom: 10px;
}

.form__field--label {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--colorTextSecondary);
}

.form__field--content {
  position: relative;
  max-width: 448px;
  height: 40px;
}

.form__field--content input {
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 35px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field--content input:focus {
  border-color: var(--colorLogoNavigation);
  outline: none;
}

.form__field--icon {
  position: absolute;
  top: 30%;
  left: 10px;
  fill: #555;
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field--icon:focus {
  fill: var(--colorLogoNavigation);
}

/* neprazyue */
.form__comment {
  position: relative;
  max-width: 448px;
  height: 138px;
  margin-bottom: 20px;
}

.comment__text {
  height: 120px;
  padding: 12px 16px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition-property: border-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.comment__text:focus {
  border-color: var(--colorLogoNavigation);
  outline: none;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--colorTextSecondary);
}

.checkbox a {
  color: var(--colorLogoNavigation);
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox a:hover {
  color: #3071a7;
}

.submit__btn {
  display: block;
  width: 200px;
  height: 50px;
  padding: 12px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  left: 25%;
  margin-top: 30px;
  transition-property: box-shadow, background-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.submit__btn:hover {
  background-color: #1976d2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.no__scroll {
  overflow: hidden;
}

.footer {
  background-color: var(--backgroundSekond);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
}

.container__adress {
  display: flex;
  flex-direction: column;
}

.footer__link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorLogoNavigation);
}

.address {
  padding-top: 20px;
}

.address__list {
  font-weight: 400;
  font-size: 14px;
  width: 231px;
}

.adress__item--text {
  color: var(--colorTextThird);
  font-style: normal;
  padding-bottom: 9px;
}

.address__link {
  color: var(--addressColor);
  font-style: normal;
  padding-bottom: 9px;
}

.container__networks {
  display: flex;
  flex-direction: column;
}

.footer__icon--text {
  margin-left: 70px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--backgroundThird);
}

.footer__icon--list {
  width: 206px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  gap: 10px;
}

.footer__icon--item {
  width: 44px;
  height: 44px;
}

.footer__link {
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  fill: var(--backgroundThird);
  background-color: hsla(0, 0%, 100%, 0.1);
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover {
  background-color: var(--colorLogoNavigation);
}

.footer__icon {
  height: 20px;
  width: 20px;
}

.container__email {
  display: flex;
  margin-left: 93px;
  width: 570px;
  height: 86px;
}

.group__email {
  display: flex;
  flex-direction: column;
}

.email__title {
  width: 209px;
  height: 16px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--colorTextThird);
  margin-bottom: 20px;
}

.input__email {
  width: 358px;
  height: 50px;
}

.email__text {
  height: 50px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  background-color: var(--bgColor);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.email__button {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  margin-top: 36px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--colorTextThird);
  background-color: var(--colorLogoNavigation);
  border-radius: 4px;
  fill: var(--colorTextThird);
  transition-property: transform, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.email__button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}

.footer__icon {
  width: 24px;
  height: 24px;
}