/*root*/
:root {
  --colorTextPrimary: #212121;
  --colorTextSecondary: #757575;
  --colorTextThird: #fff;
  --colorLogoNavigation: #2196f3;
  --bgColor: #2f303a;
  --addressColor: rgba(255, 255, 255, 0.6);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --backgroundNormal: #fff;
  --backgroundSekond: #2f303a;
  --backgroundThird: #f5f4fa;
}
/* body */
body {
  font-family: var(--font-family);
  line-height: 1.71;
  font-size: 16px;
  color: var(--colorTextPrimary);
  font-weight: 500;
  letter-spacing: 0.03em;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* shapka i navigaziya */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorLogoNavigation);
}
.logo-2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorTextPrimary);
}
.logo-3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorTextThird);
}
.nav {
  background-color: var(--backgroundNormal);
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.nav-list {
  font-size: 14px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-left: 93px;
  padding-right: 344px;
}
.nav-link {
  color: var(--colorTextPrimary);
}
.nav-link:hover {
  color: var(--colorLogoNavigation);
}
.spacer {
  width: 344px;
}
.contact-list {
  display: flex;
  align-items: flex-end;
  gap: 50px;
}
.contact-link {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--backgroundSekond);
  display: flex;
  align-items: center;
}
.contact-icon {
  height: 16px;
  width: 12px;
  fill: #757575;
}
.contact-link:hover .contact-icon {
  fill: var(--colorLogoNavigation);
}
.contact-name {
  padding-left: 10px;
  color: #757575;
}
.contact-link:hover .contact-name {
  color: var(--colorLogoNavigation);
}
.contact-icon2 {
  height: 16px;
  width: 10px;
  fill: #757575;
}
.contact-link:hover .contact-icon2 {
  fill: var(--colorLogoNavigation);
}
.contact-name2 {
  padding-left: 10px;
  color: #757575;
}
.contact-link:hover .contact-name2 {
  color: var(--colorLogoNavigation);
}
/*hero*/
.hero {
  background-color: var(--backgroundSekond);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../img/backgroungimg/bg222.webp);
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colorTextThird);
  max-width: 696px;
}
.hero-button {
  background-color: var(--colorLogoNavigation);
  color: var(--colorTextThird);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 32px;
  border-radius: 5px;
}
.hero-button:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}

/*main*/
.advantages {
  padding-top: 94px;
}
.div-advantages {
  display: flex;
  justify-content: center;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.advantages-item {
  width: 270px;
  height: 248px;
}
.advantages-item:nth-child(1)::before {
  width: 270px;
  height: 120px;
  display: block;
  content: "";
  background-color: #f5f4fa;
  background-image: url(../img/advantages/pc.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages-item:nth-child(2)::before {
  width: 270px;
  height: 120px;
  display: block;
  content: "";
  background-color: #f5f4fa;
  background-image: url(../img/advantages/clock.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages-item:nth-child(3)::before {
  width: 270px;
  height: 120px;
  display: block;
  content: "";
  background-color: #f5f4fa;
  background-image: url(../img/advantages/diagram-pc.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages-item:nth-child(4)::before {
  width: 270px;
  height: 120px;
  display: block;
  content: "";
  background-color: #f5f4fa;
  background-image: url(../img/advantages/astronaut.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages-item-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 30px;
}
.advantages-item-text {
  font-weight: 400;
  font-size: 14px;
  color: var(--colorTextSecondary);
}
/*work*/
.work {
  padding-bottom: 94px;
  padding-top: 94px;
}
.div-work {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-bottom: 50px;
}
.work-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
/*team*/
.team {
  background-color: var(--backgroundThird);
  padding-top: 94px;
  padding-bottom: 94px;
}
.div-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  max-width: 270px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.164);
}
.team-item:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}
.teammate-name {
  text-align: center;
}
.teammate-profession {
  font-weight: 400;
  text-align: center;
  color: var(--colorTextSecondary);
  padding-bottom: 16px;
}
.teammate-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 42px;
  gap: 10px;
}
.teammate-icon-item {
  width: 44px;
  height: 44px;
}
.teammate-link {
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  fill: #afb1b8;
}
.teammate-link:hover {
  background-color: var(--colorLogoNavigation);
  fill: #ffffff;
}
.teammate-icon {
  height: 20px;
  width: 20px;
}
/*-------- clients-------- */
.clients {
  background-color: var(--backgroundNormal);
  padding-bottom: 94px;
}
.clients-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-item:hover {
  border: 1px solid var(--colorLogoNavigation);
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  padding: 16px 32px;
}
.clients-link:hover .clients-icon {
  fill: var(--colorLogoNavigation);
}
.clients-icon {
  width: 106px;
  height: 60px;
}
.clients-icon-yako {
  border: 1px solid #afb1b8;
}
.clients-link:hover .clients-icon-yako {
  border: 1px solid var(--colorLogoNavigation);
}
/*footer*/
.footer {
  background-color: var(--backgroundSekond);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorLogoNavigation);
}
.address {
  padding-top: 20px;
  display: flex;
}
.address-list {
  font-weight: 400;
  font-size: 14px;
  width: 231px;
}
.adress-item-text {
  color: var(--colorTextThird);
  font-style: normal;
  padding-bottom: 9px;
}
.address-link {
  color: var(--addressColor);
  font-style: normal;
  padding-bottom: 9px;
}
.footer-icon-list {
  width: 206px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icon {
  width: 44px;
  height: 44px;
}

/*portfolio*/
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
}
.filter-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.projects-button {
  line-height: 1.62;
  text-align: center;
  color: var(--colorTextPrimary);
  padding: 6px 22px;
  border-radius: 5px;
}
.projects-button:hover {
  line-height: 1.62;
  text-align: center;
  color: var(--colorTextThird);
  background-color: var(--colorLogoNavigation);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
.applications {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 34px;
}

.applications-item {
  flex-basis: calc((100% - 60px) / 3);
  max-width: 370px;
  max-height: 404px;
  border: 1px solid #eeeeee;
}
.applications-item:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}
.projects-container-text {
  padding-left: 24px;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-category {
  font-weight: 400;
  line-height: 1.87;
  color: var(--colorTextSecondary);
  padding-bottom: 20px;
}
