/*root*/
:root {
  --colorTextPrimary: #212121;
  --colorTextSecondary: #757575;
  --colorTextThird: #fff;
  --colorLogoNavigation: #2196f3;
  --bgColor: #2f303a;
  --addressColor: rgba(255, 255, 255, 0.6);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --backgroundNormal: #fff;
  --backgroundSekond: #2f303a;
  --backgroundThird: #f5f4fa;
}
/* body */
body {
  font-family: var(--font-family);
  line-height: 1.71;
  font-size: 16px;
  color: var(--colorTextPrimary);
  font-weight: 500;
  letter-spacing: 0.03em;
}
.container {
  max-width: 1200;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* shapka i navigaziya */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorLogoNavigation);
}
.logo-2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorTextPrimary);
}
.logo-3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorTextThird);
}
.nav {
  background-color: var(--backgroundNormal);
}
.nav-list {
  font-size: 14px;
  letter-spacing: 0.02em;
}
.nav-link {
  color: var(--colorTextPrimary);
}
.nav-link:hover {
  color: var(--colorLogoNavigation);
}
.contact-link {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--backgroundSekond);
}
.contact-link:hover {
  color: var(--colorLogoNavigation);
}
/*hero*/
.hero {
  background-color: var(--backgroundSekond);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colorTextThird);
}
.hero-button {
  color: var(--colorTextThird);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}
/*main*/
.advantages {
  padding-top: 94px;
}
.advantages-item-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.advantages-item-text {
  font-weight: 400;
  font-size: 14px;
  color: var(--colorTextSecondary);
}
/*work*/
.work {
  padding-bottom: 94px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
/*team*/
.team {
  background-color: var(--backgroundThird);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.teammate-name {
  text-align: center;
}
.teammate-profession {
  font-weight: 400;
  text-align: center;
  color: var(--colorTextSecondary);
}
/*footer*/
.footer {
  background-color: var(--backgroundSekond);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--colorLogoNavigation);
}
.address-list {
  font-weight: 400;
  font-size: 14px;
}
.adress-item-text {
  color: var(--colorTextThird);
  font-style: normal;
}
.address-link {
  color: var(--addressColor);
  font-style: normal;
}
/*portfolio*/
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.projects-button {
  line-height: 1.62;
  text-align: center;
  color: var(--colorTextPrimary);
}
.projects-button:hover {
  line-height: 1.62;
  text-align: center;
  color: var(--colorTextThird);
  background-color: var(--colorLogoNavigation);
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-category {
  font-weight: 400;
  line-height: 1.87;
  color: var(--colorTextSecondary);
}
